<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%> | Editions Mengès Place Des Victoires</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="application.css.scss">

  </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top header">
    <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="/"><em>Les Editions Mengès</em></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/static_pages/contact">Contact et info pratiques</a></li>
            <li><a href="/authors">Auteurs</a></li>
            <li><a href="/categories">Thèmes</a></li>
            <li><a href="/static_pages/about">A propos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

<footer class="center-block">
  <ul class="list-inline text-center">
    <li><a href="#"><i class="fa fa-envelope fa-2x"></i><p> Newsletter</p></a></li>
    <li><a href="#"><i class="fa fa-shopping-cart fa-2x"></i><p> Où trouver nos livres?</p></a></li>
    <li><a href="#"><i class="fa fa-facebook fa-2x"></i><p> Nous suivre</p></a></li>
    <li></li>
  </ul>
</footer>

  
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>  
  </body>
  
</html>
